<component name="ArtifactManager">
  <artifact type="jar" name="mybatis-generator-plug:jar">
    <output-path>$PROJECT_DIR$/../myAccountSystem-SpringCloud/public-springboot-mybatis/src/main/resources/localjar</output-path>
    <root id="archive" name="mybatis-generator-plug.jar">
      <element id="module-output" name="mybatis-generator-plug" />
    </root>
  </artifact>
</component>